if theme.menu
  #sidebar
    #menu-mask
    #sidebar-menus
      .avatar-img.text-center
        img(src=url_for(theme.avatar.img) onerror=`this.onerror=null;this.src='${url_for(theme.error_img.flink)}'` alt="avatar")
      != partial('includes/header/menu_item', {}, { cache: true })